name: 'CI Self-hosted'

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    # see https://github.com/ibis-hdl/ci-github-runner
    name: Self-hosted CI Runner
    runs-on: [ self-hosted ]
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
            compiler: clang
          }
        - {
            compiler: gcc
          }

    steps:
    - name: Install basic dependencies
      # redundant by use ibis-hdl/ci-github-runner
      run: |
        sudo apt-get update
        sudo apt-get install --no-install-recommends -y \
          cmake ninja-build ccache g++ clang clang-tools

    - name: Install conan package manager
      run: |
        python3 -m pip install --upgrade pip
        pip --disable-pip-version-check --no-cache-dir install wheel conan

    - name: Checkout Repo
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Setup Github's cache for conan
      uses: actions/cache@v4
      with:
        key: ${{ runner.os }}-${{ matrix.config.compiler }}-conan-${{ hashFiles('conanfile.txt') }}
        path: |
          ~/.conan2

    - name: Setup Github's cache for compiler cache
      uses: actions/cache@v4
      with:
        key: ${{ runner.os }}-${{ matrix.config.compiler }}-ccache
        path: |
          ~/.config/ccache
          ~/.cache/ccache

    - name: Configuration and build
      run: |
        cmake --preset ci-linux-${{ matrix.config.compiler }}
        cmake --build --preset ci-linux-${{ matrix.config.compiler }}

    - name: CCache statistics
      run: |
        ccache --show-stats

    - name: Run Unit Test
      run: |
        ctest --preset ci-linux-${{ matrix.config.compiler }}
